In [13]:
import numpy as np

In [15]:
arr = np.array(primes)

In [17]:
type(arr)

numpy.ndarray

In [18]:
arr

array([  11,   13,   17, ..., 9949, 9967, 9973])

In [19]:
arr.shape

(1225,)

In [21]:
arr.reshape(len(arr),1)

array([[  11],
       [  13],
       [  17],
       ...,
       [9949],
       [9967],
       [9973]])

In [25]:
arr

array([  11,   13,   17, ..., 9949, 9967, 9973])

In [27]:
arr[3:]

array([  19,   23,   29, ..., 9949, 9967, 9973])

In [57]:
new_arr = np.arange(1,99,step=5,dtype=int)

In [42]:
new_arr

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81,
       86, 91, 96])

In [40]:
np.linspace(1,10,51)

array([ 1.  ,  1.18,  1.36,  1.54,  1.72,  1.9 ,  2.08,  2.26,  2.44,
        2.62,  2.8 ,  2.98,  3.16,  3.34,  3.52,  3.7 ,  3.88,  4.06,
        4.24,  4.42,  4.6 ,  4.78,  4.96,  5.14,  5.32,  5.5 ,  5.68,
        5.86,  6.04,  6.22,  6.4 ,  6.58,  6.76,  6.94,  7.12,  7.3 ,
        7.48,  7.66,  7.84,  8.02,  8.2 ,  8.38,  8.56,  8.74,  8.92,
        9.1 ,  9.28,  9.46,  9.64,  9.82, 10.  ])

In [60]:
new_arr[3]=400

In [61]:
new_arr

array([  1,   6,  11, 400,  21,  26,  31,  36,  41,  46,  51,  56,  61,
        66,  71,  76,  81,  86,  91,  96])

In [62]:
arr1 = new_arr.copy()

In [63]:
arr1

array([  1,   6,  11, 400,  21,  26,  31,  36,  41,  46,  51,  56,  61,
        66,  71,  76,  81,  86,  91,  96])

In [64]:
arr1[6:]=8

In [65]:
arr1

array([  1,   6,  11, 400,  21,  26,   8,   8,   8,   8,   8,   8,   8,
         8,   8,   8,   8,   8,   8,   8])

In [66]:
new_arr

array([  1,   6,  11, 400,  21,  26,  31,  36,  41,  46,  51,  56,  61,
        66,  71,  76,  81,  86,  91,  96])

In [83]:
ar = new_arr[new_arr<20]

In [86]:
ar[1:]=5

In [87]:
ar

array([1, 5, 5])

In [88]:
new_arr

array([  1,   6,  11, 400,  21,  26,  31,  36,  41,  46,  51,  56,  61,
        66,  71,  76,  81,  86,  91,  96])

In [93]:
a = np.ones((3,3,3),dtype=int)

In [94]:
a

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

In [211]:
err=np.random.rand(5,5)

In [212]:
err

array([[0.9369959 , 0.69382967, 0.12157098, 0.2000963 , 0.52726958],
       [0.01308194, 0.19695877, 0.69043952, 0.4136032 , 0.95524956],
       [0.53152668, 0.39336818, 0.27014284, 0.08085036, 0.37520469],
       [0.33840366, 0.91207242, 0.02231082, 0.42446684, 0.97810276],
       [0.06055689, 0.10996211, 0.94165552, 0.67437483, 0.48692522]])

In [213]:
np.random.randint(1,100,25).reshape(5,5)

array([[43, 91, 55, 37, 99],
       [63, 66, 65, 26, 19],
       [76, 73, 12, 85, 24],
       [55,  6, 85, 74, 44],
       [39, 42, 56, 54, 30]])

In [217]:
np.random.random_sample((2,3)).reshape(3,2)

array([[0.04701923, 0.96172338],
       [0.2310281 , 0.90773423],
       [0.17103126, 0.32690533]])

In [218]:
df = pd.DataFrame(np.arange(0,10).reshape(2,5),index=['Row1','Row2'],columns=['column1','column2','column3','column4','column5'])

In [220]:
df.head()

      column1  column2  column3  column4  column5
Row1        0        1        2        3        4
Row2        5        6        7        8        9

In [222]:
df.to_csv('test1')

In [227]:
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
column5    4
Name: Row1, dtype: int32

In [229]:
df.iloc[:,:]

      column1  column2  column3  column4  column5
Row1        0        1        2        3        4
Row2        5        6        7        8        9

In [250]:
df.iloc[0,2:]

column3    2
column4    3
column5    4
Name: Row1, dtype: int32

In [245]:
type(df.iloc[0:,2])

pandas.core.series.Series